{% extends "introduction/header.html" %}
{% block title %}Home{% endblock %}
{% block header2 %}
    <div id="timeline-header">
        <p class="centeredText"><span class="light">GSoC 2016</span> Time<span class="light">Line</span></p>
    </div>
{% endblock %}
{% block content %}

    <ul class="timeline">

        <li><div class="tldate">March 2016</div></li>

        <li class="timeline-inverted">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>THE CALM BEFORE THE STORM</h4>
                </div>
                <div class="tl-body">
                    <p>Submit proposals via GSoC</p>
                </div>
            </div>
        </li>

        <li><div class="tldate">April 2016</div></li>

        <li>
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>STUDENTS ANNOUNCED</h4>
                </div>
            </div>
        </li>


        <li><div class="tldate">May 2016</div></li>

        <li class="timeline-inverted">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>WARM-UP!</h4>
                </div>
                <div class="tl-body">
                    <p> - Study the related documentations about syslog-ng configuration</p>
                    <p> - Get to know the syslog-ng development team, discuss ideas, receive feedback</p>
                    <p> - Implement early throwaway prototypes for the tasks given by my mentor</p>
                </div>
            </div>
        </li>

        <li><div class="tldate">June 2016</div></li>

        <li>
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>LET'S GET STARTED!</h4>
                </div>
                <div class="tl-body">
                    <p> - Implement the core functions required to create basic configuration files</p>
                    <p> - Create the design of the app based on the feedback received from the prototypes</p>
                    <p> - Begin working on the documentation and user guide</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>TEST ALPHA RELEASES</h4>
                </div>
            </div>
        </li>

        <li><div class="tldate">July 2016</div></li>
        <li>
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>HALFWAY THERE</h4>
                </div>
                <div class="tl-body">
                    <p> - Improve design based on users's feedback</p>
                    <p> - Optimize the app</p>
                    <p> - Expand the app's functionality and documentation</p>
                </div>
            </div>
        </li>

        <li class="timeline-inverted">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>TEST BETA RELEASES</h4>
                </div>
            </div>
        </li>

        <li><div class="tldate">August 2016</div></li>

        <li>
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>ALMOST READY!</h4>
                </div>
                <div class="tl-body">
                    <p> - Fix bugs, clean up the code</p>
                    <p> - Finalize design, features, documentations, tests, user's guide</p>
                </div>
            </div>
        </li>




        <li class="timeline-inverted">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>TEST FINAL RELEASE</h4>
                </div>
            </div>
        </li>
    </ul>
{% endblock %}




